3digitmaxmin.sh
arithmetic.sh
coinflip.sh
DayOfWeek.sh
dice.sh
DisplayNoif.sh
DisplayNoSwitch.sh
FeetInch.sh
LeapYear.sh
singleDigit.sh
SingleWords.sh
SingleWordswitch.sh
sod.sh
sumavg.sh
factorial.sh
factors.sh
flipcoin.sh
Gambler.sh
harmonic.sh
magicno.sh
pot.sh
palindrome.sh
poweroftwo.sh
prime.sh
primePalindrome.sh
primerange.sh
temp.sh

unitConversion.sh
WeekDay.sh
WeekDaySwitch.sh
