3digitmaxmin.sh
arithmetic.sh
coinflip.sh
DayOfWeek.sh
dice.sh
DisplayNoif.sh
DisplayNoSwitch.sh
FeetInch.sh
LeapYear.sh
singleDigit.sh
SingleWords.sh
SingleWordswitch.sh
sod.sh
sumavg.sh
unitConversion.sh
WeekDay.sh
WeekDaySwitch.sh
